
.content-card {
    display: inline-block;
    position: relative;
    margin: 58px 56px 0 0;
}

.content-card:hover .info-box {
    transition: 0.1s;
    top: 141px;
}

.content-card:hover .content-card__title-h {
    color: #f26522;
}

.wrap-insider {
    display: inline-block;
    overflow: hidden;
    position: relative;
    /* box-shadow: 0px 40px 40px 10px rgba(0,0,0,0.9); */
}


.content-card__img {
    border: 3px solid black;
    border-image: linear-gradient(to top, #000000, #ffffff);
    border-image-slice: 1;
    
}

/* .info-box (hover menu start); */

.info-box {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    padding: 17px 18px 17px 21px;
    top: 250px;
    background-color: #f26522;
}

.info-box__description {
    display: inline-block;
}

.info-box__text-a {
    font-size: 10px;
    font-weight: 400;
}

.info-box__text-b {
    font-size: 20px;
    font-weight: 400;
}

.info-box__href {
    float: right;
    margin-top: 17px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}

.info-box__href::after {
    content: "";
    display: inline-block;
    width: 7px;
    height: 10px;
    margin-left: 15px;
    background-image: url(../img/Arrow.png);
}

 /* .info-box (hover menu end) */

 .wrap-main-a {
     display: block;
     margin: 22px 0 10px 0;
     text-align: center;
 }
 .content-card__title-h {
    text-decoration: none;
    font-size: 18px;
}




